main {
   text-align: left;
}

header{
    max-width : 600px;
    border: #8ACB88 solid 1px;
    background: #8ACB88;
    border-radius: 5px;
    text-align: center;
    }

div {
    font-size: 12px;
    text-align: center;
    color: yellow;
}

body {
    padding-top: 1em;
    margin: 0 auto;
    max-width: 600px;
}

footer {
    background: #8ACB88;
    border-radius: 5px;
    text-align: center;
    margin-top: 1em;
    
}

.photoofme {
    line-height: 10px;
    margin-right: 20px;
    height: 180px;
    width: 150px;
    float: right;
}

.lastupdate {
    padding-bottom: 5em;
}

p {
    margin-block-start: .5em;
    margin-block-end: .5em;
}

hr {
    color: rgba(146, 146, 146, 0.418);
    padding-bottom: -1em;
}
