html {
    line-height: 1.15;
}

.picture {
    padding-top: 1em;
}

p {
    text-align: center;
}



body {
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

figure {
    margin: 1em 40px;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: inherit;
}

b,
strong {
    font-weight: bolder;
}


mark {
    background-color: #ff0;
    color: #000;
}

img {
    border-style: none;
}

body {
    font-size: 16px;
    font-family: "gelasio", Ubuntu, serif;
}

h1,
footer {
    text-align: center;
    background-color: #C39B3C;
    margin: auto;
    max-width: 800px;
}

main {
    max-width: 767px;
    margin: 0 auto;
}

h2 {
    color: #111111;
    background-color: #AFC5C3;
    margin-top: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

main section {
    margin: 0.5rem;
    border: #bbb solid 1px;
    background-color: #eee;
    border-radius: 15px;
    padding-bottom: 10px;
}

section:nth-child(2) {
    margin: 0.5rem;
}

.colimage {
    box-shadow: 0 0 30px #333;
}

img {
    max-width: 240px;
}

@media only screen and (min-width: 37.5em) {
    main {
        grid-template-columns: 1fr 1fr;
    }

    section:nth-child(2) {
        display: block;
    }

    section:nth-child(3) {
        grid-column: span 2;
    }

    main picture {
        display: block;
    }

    main section picture img {
        width: 100%;
        height: auto;
        border: #bbb solid 1px;
    }
}

@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    section:nth-child(3) {
        grid-column: span 1;
    }
}