h1 {
    text-align: center;
}

picture {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    grid-template-areas: ".a.";
    padding-bottom: 10px;
    
}

.imageone {
    grid-area: ".a";
    align-self: center;
    justify-self: center;
}

.imagetwo {
    grid-area: ".a";
    align-self: center;
    justify-self: center;
}
    
.imagethree {
    grid-area: ".a";
    align-self: center;
    justify-self: center;
}

.imagefour {
    grid-area: ".a";
    align-self: center;
    justify-self: center;
}

.imagefive {
    grid-area: ".a";
    align-self: center;
    justify-self: center;

}

.imagesix {
    grid-area: ".a";
    align-self: center;
    justify-self: center;
}
    