h1 {
    text-align: center;
}

picture {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 10px;
    
}

.imageone {
    align-self: center;
    justify-self: center;
}

.imagetwo {
    align-self: center;
    justify-self: center;
}
    
.imagethree {
    align-self: center;
    justify-self: center;
}

.imagefour {
    align-self: center;
    justify-self: center;
}

.imagefive {
    align-self: center;
    justify-self: center;

}

.imagesix {
    align-self: center;
    justify-self: center;
}

picture img[data-src] {
    filter: blur(0.2em);
  }
  picture img {
    filter: blur(0em);
    transition: filter 0.5s;
  }
    