@media only screen and (min-width: 500px) {
    .templePictures {
        flex: 100%;
        max-width: 75%;
    }
      .templePictures img {
        margin-top: 8px;
        border: 5px solid black;
        max-width: 425px;
    }

    .navigation li { 
        display: inline-block;
        padding: .2rem; 
        margin-right: .5rem;
        
    }	

    .navigation li:first-child { 
        display: none;	
        padding: 1rem;
    }

    main {
        max-width: 600px;
    }

    .footerPart {
        width: 480px;
        max-width: 80%;
        padding: 1em;
    }

    .contactsection {
        width: 480px;
        max-width: 60%;
        padding: 1em;
    }
}