@media only screen and (min-width: 1000px) {

    main {
        max-width: 1024px;
        width: 100%
    }

    
    .grid div {
        padding: 0;
        border-radius: 10px;
    }
    
    .grid div img:hover {
        box-shadow: 0 0 50px #333
    }

    .disappear {
        display: block;
    }

    .sampleformat {
        font-style: italic;
        font-size: 14px;
        color: #555;
    }

    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div#forecast{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    
    section.forecast div h5, section.forecast div p{
        background-color: #eee;
        margin: 0;
        padding: 1rem;
    
    }

    .herodiv{
        width: 100%;
    }
    
    .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    .grid div {
        padding: 0;
        border-radius: 10px;
    }
    
    .grid div img:hover {
        box-shadow: 0 0 50px #333
    }

    p {
        display: block;
    }

    .articlesection img {
        float: right;
        margin-right: 10px;
        width: 400px;
        margin-left: 15px;
    }

    nav ul li a {
        font-size: 1.2rem;
    }

    main h1 {
        font-size: 2.5em;
    }
    
    
}