html {
    display: block;
    max-width: 960px;
    margin: 0 auto;
}

body {
    font-size: 16px;
    font-family: 'Tinos', serif, sans-serif;

}

header img {
    height: 70px;
    width: 70px;
}

header {
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    color: #991632;
}

nav button {
    margin: .2em 2%;
    background-color: transparent;
    border: none;
}

nav {
    background-color: #F5B34C;
    padding: 1em;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    flex: 1 1 100%;
    text-align: center;
}



nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: .8em;

}

nav ul li a:hover {
    color: #333;
    background-color: #84CFF2;
    padding: .5em;
}

nav ul li.active a {
    color: #000;
    padding: 1em;

}

main {
    min-height: 10rem;
    width: 80%;
}

main div {
    padding: .5rem;
}

footer {
    background-color: #F5B34C;
    color: black;
    padding: .2em;
    text-align: center;
}

div#message {
    background-color: rgb(115, 192, 236);
    border-radius: 10px;
}

div.showme {
    display: block;
}

main h1 {
    color: #991632;
    font-size: 2em;
    margin: .67em;
    margin-left: 2em;
}


.colors {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 2em;
}

.colors th {
    background-color: #CDD3D5;
}

.colors td {
    max-width: 20%;
    height: 3em;
}

.primary {
    background-color: #991632;
}

.secondary {
    background-color: #F5B34C;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.hide {
    display: none;
}

p {
    font-size: 14px;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

div.hero-ph {
    padding: 0;
}

.herodiv {
    position: relative;
    width: 100%;

}

.hero-ph {
    margin: 10px auto;
    width: 100%;
}



.weathersummary {
    position: absolute;
    top: 60px;
    left: 50px;
    background-color: rgba(241, 237, 0, 0.5);
    width: 200px;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid yellow;
    box-shadow: 0 0 30px #777;

}

.weathersummary h3 {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.weathersummary p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: "Tinos";
}

.fiveday {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

.articlesection img {
    width: 250px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
}

.articlesection {
    background-color: lightblue;
    border-radius: 10px;
    padding-top: 2em;
}

.contactus {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: lightblue;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 8px;

}

.contactus p {
    margin: 1rem;
    text-align: center;
    margin-left: 0px;
}

.contactus div img {
    width: 100%;
    max-width: 150px;
    min-width: 150px;
    margin-left: 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;

}

.fiveday {
    margin: 0 auto;
    padding-top: 40px;
}

div#forecast div h3 {
    background-color: blue;
    color: white;
}

div#forecast div {
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
}

div#forecast img {
    max-width: 50px;
}

nav button {
    margin: .2em 2%;
    background-color: transparent;
    border: none;
}

nav {
    background-color: #F5B34C;
    padding: 1em;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    flex: 1 1 100%;
    text-align: center;
}



nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: .8em;

}

nav ul li a:hover {
    color: #333;
    background-color: #84CFF2;
    padding: .5em;
}

nav ul li.active a {
    color: #000;
    padding: 1em;

}

main {
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
}

footer {
    background-color: #F5B34C;
    color: black;
    padding: .2em;
    text-align: center;
    margin-top: 10px;
}

div#message {
    background-color: rgb(115, 192, 236);
    border-radius: 10px;
}

div.showme {
    display: block;
}

.weathername {
    color: #991632;
    margin-left: 6em;
}

.colors {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 2em;
}

.colors th {
    background-color: #CDD3D5;
}

.colors td {
    max-width: 20%;
    height: 3em;
}

.primary {
    background-color: #991632;
}

.secondary {
    background-color: #F5B34C;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.hide {
    display: none;
}

p {
    font-size: 14px;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

div.hero-ph {
    padding: 0;
}


div img {
    border-radius: 10px;
    margin: 0 auto;
    max-width: 100%;
}

.herodiv {
    position: relative;
    width: 100%;

}

.hero-ph {
    margin: 10px auto;
    width: 100%;
}



.weathersummary {
    position: absolute;
    top: 60px;
    left: 50px;
    background-color: rgba(241, 237, 0, 0.5);
    width: 200px;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid yellow;
    box-shadow: 0 0 30px #777;

}

.weathersummary h3 {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.weathersummary p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: "Tinos";
}

.fiveday {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

section.forecast {
    display: none;
}

.contactus p {
    margin: 1rem;
    text-align: center;
    margin-left: 0px;
}

.contactus div img {
    width: 100%;
    max-width: 150px;
    min-width: 150px;
    margin-left: 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;

}

.grid div img {
    max-width: 300px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.grid div p {
    text-align: center;
}

.pictures picture img {
    max-width: 300px;
}

.pictures {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.titletitle {
    text-align: center;
}

.pictures picture img[data-src] {
    filter: blur(0.2em);
}

.pictures picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

.gallerypics {
    display: none;
}

.thankyoupage {
    text-align: center;
    padding-top: 2em;
}

label {
    padding-top: 20px;

}

.radiobutton {
    margin: 0px;
    padding: 0px;
}

input,
select {
    border-radius: 10px;
    height: 45px;
}

.sampleformat {
    font-style: italic;
    font-size: 12px;
    color: #555;
}

label.required::after {
    content: " *";
    color: red;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
}

#text {
    text-align: right;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
}

.sbs {
    display: flex;
    align-items: center;
}

.cards {
    display: grid;
    grid-template-columns: 1fr;
}

div.cards {
    margin: 0 auto;
    padding: 0;
}

.cards section {
    background-image: linear-gradient(135deg, rgb(9, 2, 109), rgba(0, 0, 225, .3));
    margin: 10px;
    text-align: center;
    border-radius: 10px;
}

.cards section img {
    max-width: 200px;
    max-height: 200px;
}

.cards section h3 {
    font-size: 17px;
}

.cards section h2 {
    color: white;
    padding-bottom: 10px;
}

.cards section p,
.cards section h3 {
    color: white;
}

.lowerhomepage {
    display: flex;
    grid-template-columns: 1fr;
}

.lowerhomepage div {
    background-image: linear-gradient(rgba(0, 0, 225, .3), rgb(9, 2, 109));
    border-radius: 10px;
}

.homepagemap h2 {
    color: white;
    padding-top: 10px;
}

.homepagelinktoarticle h2 {
    color: white;
    padding-top: 5px;
}

article img {
    max-width: 200px;
}

.homepagelinktoarticle p {
    color: white;
}

nav button {
    margin: .2em 2%;
    background-color: transparent;
    border: none;
}

nav {
    background-color: #F5B34C;
    padding: 1em;

}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    flex: 1 1 100%;
    text-align: center;
}



nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    display: block;
    padding: .8em;

}

nav ul li a:hover {
    color: #333;
    background-color: #84CFF2;
    padding: .5em;
}

nav ul li.active a {
    color: #000;
    padding: 1em;

}

* {
    box-sizing: border-box;
}

footer {
    background-color: #F5B34C;
    color: black;
    padding: .2em;
    text-align: center;
}

div#message {
    background-color: rgb(115, 192, 236);
    border-radius: 10px;
}

div.showme {
    display: block;
}


.colors {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-bottom: 2em;
}

.colors th {
    background-color: #CDD3D5;
}

.colors td {
    max-width: 20%;
    height: 3em;
}

.primary {
    background-color: #991632;
}

.secondary {
    background-color: #F5B34C;
}


nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.hide {
    display: none;
}

p {
    font-size: 14px;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

div.hero-ph {
    padding: 0;
}

.herodiv {
    position: relative;
    width: 100%;

}

.hero-ph {
    margin: 10px auto;
    width: 100%;
}



.weathersummary {
    position: absolute;
    top: 60px;
    left: 50px;
    background-color: rgba(241, 237, 0, 0.5);
    width: 200px;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid yellow;
    box-shadow: 0 0 30px #777;

}

.weathersummary h3 {
    font-size: 18px;
    padding: 0;
    margin: 0;
}

.weathersummary p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: "Tinos";
}

.fiveday {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-size: 20px;
}

div.showme {
    display: block;
}

div.hideme {
    display: none;
}

.contactus p {
    margin: 1rem;
    text-align: center;
    margin-left: 0px;
}

.contactus div img {
    width: 100%;
    max-width: 150px;
    min-width: 150px;
    margin-left: 0px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;

}

.fiveday {
    margin: 0 auto;
    padding-top: 40px;
}

div#forecast div h3 {
    background-color: blue;
    color: white;
}

div#forecast div {
    text-align: center;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 0px;
    margin: 0px;
}

div#forecast img {
    max-width: 50px;
}

.thankyoupage {
    text-align: center;
    padding-top: 2em;
}

label {
    padding-top: 20px;

}

.radiobutton {
    margin: 0px;
    padding: 0px;
}

input, select {
    border-radius: 10px;
    height: 45px;
}

.sampleformat {
    font-style: italic;
    font-size: 12px;
    color: #555;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
}

#text {
    text-align: right;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
}

.sbs {
    display: flex;
    align-items: center;
}

.grid div img{
    max-width: 300px;
}

.grid div p {
    text-align: center;
}

.pictures picture img{
    max-width: 300px;
}
.pictures {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

.titletitle {
    text-align:center;
}

.pictures picture img[data-src] {
    filter: blur(0.2em);
  }
  
.pictures picture img {
    filter: blur(0em);
    transition: filter 0.5s;
}

.disappear {
    display: none;
}

div.prestonevents, div.fishevents, div.sodaevents {
    text-align: center;
    background-image: linear-gradient(-45deg, rgba(225, 221, 0, 0.877), rgb(161, 161, 146));
    border-radius: 10px;
    max-width: 400px;
    margin: auto auto;
}

.stormcenterchange {
    width: 60%
}