@media only screen and (max-width: 320px) {
    .weathersummary {
        top: 10px;
        left: 25px;
        background-color: rgba(241, 237, 0, 0.5);
        width: 200px;
        padding: 1rem;
        border-radius: 10px;
        border: 1px solid yellow;
        box-shadow: 0 0 30px #777;
    
    }
}